<ion-list>
    <ion-item>
        <ion-select  placeholder="Categoría" (ionChange)="onCategoryChange($event)">
            <ng-container *ngFor="let category of categoryList" >      
                <ion-select-option [value]="category.name">{{ category.name }}</ion-select-option>
            </ng-container>
        </ion-select>
        <ion-button>+</ion-button>
    </ion-item>
    <ion-item>
        <ion-input placeholder="Nombre" [(ngModel)]="foodName"></ion-input>
    </ion-item>
</ion-list>
<ion-fab slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>