<ion-content>
    <!-- Imagen -->
    <div style="position: relative;">

      <!-- Imagen del meal -->
      <ion-img [src]="meal.imageUrl ? meal.imageUrl : 'assets/noimage.png'" alt="meal image"></ion-img>
  
      <!-- Botón de edición -->
      <ion-button fill="clear" size="large" color="primary" (click)="edit()"
                  style="position: absolute; top: 10px; right: 10px;">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>

        <!-- Botón de eliminación -->
      <ion-button fill="clear" size="large" color="danger" (click)="delete()"
      style="position: absolute; top: 10px; right: 60px; z-index: 1;">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </div>

    <!-- Título -->
    <ion-title style="font-weight: bold; text-align: center; margin-top: 10px;">
      {{ meal.name }}
    </ion-title>  
    <!-- Ingredientes necesarios -->
    <ion-card>
      <ion-card-header>
        <ion-card-title >Ingredientes Necesarios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            {{ meal.neededFood.join(', ') }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <!-- Ingredientes opcionales -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingredientes Opcionales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item >
            {{ meal.optionalFood.join(', ') }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- tipo -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Tipo: </ion-card-title>
      </ion-card-header>
      <ion-card-content class="pre-wrap-content">
        {{ meal.type | lineBreak}}
      </ion-card-content>
    </ion-card>

    <!-- tipo -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Categoría: </ion-card-title>
      </ion-card-header>
      <ion-card-content class="pre-wrap-content">
        {{ meal.category | mealCategoryTranslate }}
      </ion-card-content>
    </ion-card>

    <!-- Receta -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Receta</ion-card-title>
      </ion-card-header>
      <ion-card-content class="pre-wrap-content">
        {{ meal.recipe | lineBreak}}
      </ion-card-content>
    </ion-card>
  </ion-content>
  