<ion-content>
    <!-- Imagen -->
    <ion-img [src]="meal.imageUrl ? meal.imageUrl : 'assets/noimage.png'" alt="meal image"></ion-img>

    <!-- Título -->
    <ion-title style="font-weight: bold; text-align: center; margin-top: 10px;">
      {{ meal.name }}
    </ion-title>  
    <!-- Ingredientes necesarios -->
    <ion-card>
      <ion-card-header>
        <ion-card-title >Ingredientes Necesarios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            {{ meal.neededFood.join(', ') }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <!-- Ingredientes opcionales -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingredientes Opcionales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item >
            {{ meal.optionalFood.join(', ') }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <!-- Receta -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Receta</ion-card-title>
      </ion-card-header>
      <ion-card-content class="pre-wrap-content">
        {{ meal.recipe | lineBreak}}
      </ion-card-content>
    </ion-card>
  </ion-content>
  