/* En tu archivo de estilos CSS */
.custom-title {
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
    font-weight: bold; /* Opcional: hacer el título más grueso */
    text-align: center; /* Centrar el texto */
    margin-bottom: 16px; /* Espacio inferior */
  }
  